{% templatetag openblock %} load compress staticfiles system_tags {% templatetag closeblock %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name|title }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% templatetag openblock %} compress css {% templatetag closeblock %}
            <link href="{% templatetag openblock %} static 'normalize.css' {% templatetag closeblock %}" media="screen, print" rel="stylesheet">
            <link href="{% templatetag openblock %} static 'css/font-awesome.min.css' {% templatetag closeblock %}" media="screen, print" rel="stylesheet">
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/screen.css' {% templatetag closeblock %}" media="screen" rel="stylesheet" />
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/print.css' {% templatetag closeblock %}" media="print" rel="stylesheet" />

            {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        <!--[if IE]>
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/ie.css' {% templatetag closeblock %}" media="screen" rel="stylesheet" />
        <![endif]-->

        <link rel="shortcut icon" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/favicon.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-144-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-114-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-72-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-57-precomposed.png' {% templatetag closeblock %}">
    </head>
    <body class="{% templatetag openblock %} block body-class {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">

        {% templatetag openblock %} block content {% templatetag closeblock %}
            <!-- Example content -->
            <div id="summary">
                <img id="logo" src="{% templatetag openblock %} static 'analytics/img/maykinmedia_logo.png' {% templatetag closeblock %}">

                <h1>It worked!</h1>
                <h2>Congratulations on installing the Maykin Media default project for <strong>{{ project_name|title }}</strong>.</h2>
            </div>

            <div id="instructions">
                <p>
                    Of course, you haven't actually done any work yet. Next, start your first app by running <code>python manage.py startapp [app_label]</code>.
                </p>
                <p>
                    You can also checkout the <a href='/admin/'>admin</a>.
                </p>
            </div>

            <div id="explanation">
                <p>
                    You're seeing this message because you have <code>DEBUG = True</code> in your Django settings file and you haven't configured any URLs. Get to work!
                </p>
            </div>
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% templatetag openblock %} compress js {% templatetag closeblock %}

        <script src="{% templatetag openblock %} static 'jspm_packages/system.js' {% templatetag closeblock %}"></script>
        <script src="{% templatetag openblock %} static '{{ project_name|lower }}/js/jspm.browser.js' {% templatetag closeblock %}"></script>
        <script src="{% templatetag openblock %} static '{{ project_name|lower }}/js/jspm.config.js' {% templatetag closeblock %}"></script>

        {% templatetag openblock %} systemjs_import "{{ project_name|lower }}/js/main.js" {% templatetag closeblock %}

        {% templatetag openblock %} block extra_js {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        {% templatetag openblock %} endcompress {% templatetag closeblock %}

    </body>
</html>
