<nav class="menu">
    <ul class="menu__section menu__section--left" role="menu">
        <li class="menu__item">Home</li>
        <li class="menu__item">Page 1</li>
        <li class="menu__item">Page 2</li>
        <li class="menu__item">Page 3</li>
        <li class="menu__item">Page 4</li>
    </ul>

    <ul class="menu__section menu__section--right">
        <li class="menu__item">
            <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">Admin</a>
        </li>
    </ul>
</nav>
