{% templatetag openblock %} extends "admin/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n static hijack_tags utils {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}
{% templatetag openvariable %} title {% templatetag closevariable %} | {% templatetag openvariable %} site_title|default:_('Administration') {% templatetag closevariable %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extrastyle {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}

    <link rel="stylesheet" type="text/css" href="{% templatetag openblock %} static 'hijack/hijack-styles.css' {% templatetag closeblock %}" />
    <link rel="stylesheet" type="text/css" href="{% templatetag openblock %} static 'bundles/admin_overrides.css' {% templatetag closeblock %}">
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block branding {% templatetag closeblock %}
    {% templatetag openblock %} version as build {% templatetag closeblock %}
    <h1 id="site-name">
        <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">
            {% templatetag openvariable %} site_header|default:_('Administration') {% templatetag closevariable %}

            {% templatetag openblock %} if build {% templatetag closeblock %}
                <span class="version">
                    ({% templatetag openvariable %} build {% templatetag closevariable %})
                </span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </a>
    </h1>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block nav-global {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block messages {% templatetag closeblock %}
    {% templatetag openblock %} hijack_notification {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
